*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
.container{
    width: 90%;
    margin: auto;
}



.tp{
    /* width: 90%; */
    /* background-color: #B90500; */
    margin: auto;
    min-height: 100px;
    align-items: center;
}
.tp-um{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
}
.tp-um h1{
    font-size: 60px;
    font-family: 'Lobster', cursive;
}

#pesquisa div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 2px solid black;
    /* padding: 5px; */
    width: 300px;
    border-radius: 2px;
}
#pesquisa input{
    border: none;
    font-size: 18px;
    outline: none;
    color: lightslategray;
    margin-left: 5px;
}
#pesquisa button{
    border: none;
    background-color: white;
    padding: 10px;
    cursor: pointer;
    border-left: 2px solid black;
}

.tp-dois{
    background-color: #B90500;
}
.tp-dois ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.tp-dois li{
    padding: 10px
    20px;
}
.tp-dois li:hover{
    background-color: #da251f;
}
.tp-dois ul li a{
    padding: 15px;
    color: white;
}
li{
    color: white;
    cursor: pointer;
}
.tp-dois a{
    color: white;
}


.info{
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid black;
    padding: 20px 0px;
}
.img{
    width: 300px;
    height: 400px;
    background-size: 300px;
}
.info-dado{
    margin: 0px 30px;
}
.info-dado p{
    margin: 30px 0px 10px 0px;
}
.info-titulo{
    font-size: 40px;
    /* padding: 10px; */
    
    text-align: center;
}

.cadastro{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    width: 100%;
    /* background-color: red; */
}
form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cd-input div{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cd-input input{
    width: 500px;
    padding: 10px;
    font-size: 16px;
    /* margin: 10px 0px 20px 0px; */
}
.cd-text{
    display: flex;
    align-items: center;
    width: 100%;
}
.cd-text textarea{
    margin: auto;
    font-size: 16px;
    width: 500px;
}
.btn{
    background-color: #da251f;
    margin: 20px;
    padding: 10px 25px;
    font-size: 25px;
    border-radius: 5px;
    color: white;
    border: none;
    cursor: pointer;
}

table{
    border: 2px solid black;
    margin-bottom: 10px;
}
th{
    background-color: #da251f;
    padding: 5px;
    color: white;
}
.edicao{
    display: flex;
    justify-content: center;
}
.edicao td{
     width: 200px;
     padding: 5px;
     border:2px solid black;
     text-align: center;
}
.edicao-btn{
    cursor: pointer;
}
.edicao-btn a{
    color: black;
}
.btne{
    background-color: #28A745;
    color: white;
    border-radius: 3px;
}
.btna{
    background-color: #C82333;
    color: white;
    border-radius: 3px;
}
.btne a{
    color: white;
}
.btna a{
    color: white;
}
.tela-apagar{
    width: 700px;
    height: 150px;
    border: 2px solid black;
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 100px;
    right: 35%;
    border-radius: 5px;
    margin: auto;
    background-color: white;
}
.tela-apagar div{
    width: 150px;
    height: 50px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    cursor: pointer;
    
}
.tela-editar{
    display: none;
}